[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ttconv = {ref = "3bc783e5a18f1b3437727bd8166c7d40ace7a6cd", git = "git+https://github.com/sandflow/ttconv.git"}

[requires]
python_version = "3.8"
